.checkout-body {
    background-color: #363737;
    background-image: url('/assets/img/checkout/checkout-body.svg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 919px;
}
.product-checkout-image {
    max-width:132px;
    max-height: 232px; 
}

.minus, .plus{
    width:20px;
    height:20px;
    background:#f2f2f2;
    border-radius:4px;
    padding:8px 5px 8px 5px;
    border:1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
input{
    height:34px;
    width: 50px;
    text-align: center;
    font-size: 15px;
    border:1px solid #ddd;
    border-radius:4px;
    display: inline-block;
    vertical-align: middle;
} 

.bg-card {
    background-color: #5c5c5c;
}

.first-div {
    padding: 108px 15px 185px 165px;
}

.second-div {
    padding: 108px 165px 570px 15px;
}

.second-div h1{
    font-size: 20px;
}

.second-div h6{
    font-size: 10px;
}

.detail-input {
    background-color: #6d6d6d; 
    border: 0px;
}

.detail-input::placeholder {
    width: 194px;
    height: 22px;
    margin: 4px 96px 6px 0;
    font-family: Lato;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: #959595;
}

.card-title {
    font-family: Lato;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

 .quantity {
    font-family: Lato;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: #ffffff;
  }

  .previous-address {
    font-family: Lato;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }

  .previous-address p {
    color: #959595;

  }