.checkout-body {
    background-color: #363737;
    background-image: url('/assets/img/checkout/checkout-body.svg');
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 919px;
}
.product-checkout-image {
    max-width:132px;
    max-height: 232px; 
}

.bg-card {
    background-color: #5c5c5c;
}

.first-div {
    padding: 160px 0 0 60px;
}

.second-div {
    padding: 160px 245px 0 0px;
}

.second-div h1{
    font-size: 20px;
}

.second-div h6{
    font-size: 10px;
}

.third-div {
    padding: 80px 164px 0 0;
}

.apply{
    background-color: #000000; 
    border: 0px;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.coupon-input {
    background-color: #6d6d6d; 
    border: 0px;
}

.coupon-input::placeholder {
    width: 194px;
    height: 22px;
    margin: 4px 96px 6px 0;
    font-family: Lato;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: #959595;
}

.input-number {
    background: transparent;
    border:0px;
    font-family: Lato;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: #959595;
    text-align:center;
}

.btn-plus {
   background-color:#626262;
   color:black;
   font-weight:bolder;
   font-size: 18px;
   width: 48px;
   height: 48px;
}

.btn-minus {
    background-color:#626262;
    color:black;
    font-weight:bolder;
    font-size: 18px;
    width: 48px;
    height: 48px;
 }

 .final-Price {
    font-family: Lato;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: #ffffff;
  }

  .price {
    font-family: Lato;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: #959595;
  }