.checkout-body {
    background-color: #363737;
    background-image: url('/assets/img/checkout/checkout.svg');
    background-repeat: no-repeat;
}

.minus, .plus{
    width:20px;
    height:20px;
    background:#f2f2f2;
    border-radius:4px;
    padding:8px 5px 8px 5px;
    border:1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
input{
    height:34px;
    width: 50px;
    text-align: center;
    font-size: 15px;
    border:1px solid #ddd;
    border-radius:4px;
    display: inline-block;
    vertical-align: middle;
} 

.bg-card {
    background-color: #5c5c5c;
}

.apply{
    background-color: #000000; 
    border: 0px;
    width: 42px;
    height: 19px;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}