h1 {
    color:brown;
}

h4 h5 {
    font-family: Lato;
    font-size: 18px;
    font-weight: bolder;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    color: #2b2828;
}
h3 {
    font-family: Lato;
    font-size: 20px;
    font-weight: bolder;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    color: #2b2828;
}
p {
    font-family: Lato;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    color: #2b2828;
}

ul {
    font-family: Lato;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    color: #4d4c4c;
}