body {
    background-color: #02060F;
    /*ackground-image: linear-gradient(to bottom, #04142E, #061F48 67%, rgba(26, 26, 26, 0));*/
    background: radial-gradient(closest-side, #325289, #02060F);
}

.star {
    background-image: url('/assets/img/product/star.svg');
    background-repeat: no-repeat;
}

.star p {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 48px;
    color: #FFFFFF;
}

.star ul {
    font-family: Archivo;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.7);
    list-style:none;
    margin-top:20px;
}
.btn-pre-books {
    border-radius: 25px;
    background-color: #EB5757;
    font-family: Lato;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    padding: 10px 40px 10px 40px;
}

.scooter {
    background-image: url('/assets/img/product/scooter.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-width:482.5px;
    min-height:358px;
}

.car {
    background-image: url('/assets/img/product/electric car1.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-width:698px;
    min-height:371px;
}

.parking {
    background-image: url('/assets/img/product/cars.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-width:481px;
    min-height:424px;
    opacity:0.8;
}

.prking h6 {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 32px;
    color: #FFFFFF;
}

.nature {
    background-image: url('/assets/img/product/nature.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-width:738px;
    min-height:550px;
}

.nature h1 {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
}

.nature h6 {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 32px;
    color: #FFFFFF;
}

.kazam-lite2 {
    background: radial-gradient(closest-side, #325289, #02060F);
}

.kazam-lite2 p {
    width: 320px;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
} 

.kazam-lite2 p span {
    width: 320px;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.kazam-lite2 ul {
    width: 369px;
    font-family: Archivo;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.7);
    list-style:none;
    
}

.kazam-lite1 {
    background: #02060F;
}
.product-dsc-title {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
}

.product-dsc-title span{
    color: #F6567E;
}

.product-dsc-subtitle {
    font-family: Archivo;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 20px;
    width: 220px;
    margin-left: 90px;
}

.kazam-lite3 {
    background: radial-gradient(closest-side, #325289, #02060F);
}

.kazam-lite3 p {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
} 

.kazam-lite3 p span {
    width: 326px;
    height: 52px;
    left: calc(50% - 326px/2 - 0.5px);
    top: calc(50% - 52px/2 + 161.5px);
    font-family: Archivo;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}

.kazam-lite3-img {
    background-image: radial-gradient(#325289 20%, #02060F 40%, #02060F 60%);
    height: 100px;
    margin-top: -115px;
}

.kazam-lite4 p {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
}

.kazam-lite4 ul li {
    font-family: Archivo;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.7);
    list-style: none;
}

.kazam-lite4 ul {
    margin-left: -34px;
    margin-top: 20px;
}

.kazam-lite4 p span {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #F6567E;
}
.kazam-lite-usage p {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
}

.kasam-usage-title {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    margin-top: 20px;
}

.lock-image {
    background-image: url('/assets/img/product/Frame.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height:795px;
    min-width:475px;
}

.easy-installation-image {
    background-image: url('/assets/img/product/easy-installation.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height:675px;
    min-width:429px;
}

.technical-specification p {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #FFFFFF;
}

.technical-specification ul {
    font-family: Archivo;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.7);
    list-style: none;
    text-align:justify;
}