body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

.logo {
  list-style: none;
  display: flex;
  justify-content: left;
}

.placeholder {
  width: 165px;
  height: 42px;
  font-family: Lato;
  font-size: 10px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: normal;
  text-align: left;
  color: #959595;
}

.bg-product-detail {
  background-color: #5c5c5c;
  border-radius: 12px;
  padding: 10px 20px 5px 15px;
}

.sub-title-product-detail {
  opacity: 0.8;
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.container {
  width: 100%;
}

.font-color{
  color: #959595;
}

.f-small {
  font-size: 0.75rem;
}

.bdr-95 {
  border: solid 1px #959595;
}

.top-banner {
  min-height: 100px;
}

.green-info {
  position: relative;
  z-index: 0;
}

.green-info img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.green-title {
  font-family: Lato;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
}
  
  .green-subtitle {
    font-family: Lato;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    margin-bottom: 30px;
  }

  .article-image {
    max-height: 200px;
    min-width: 357px;
    object-fit: cover;
  }
  


  .top-banner {
    position: relative;
    min-height: 460px;
    z-index: 0;
  }
  
  .header-image {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
  }

  .image-slider {
    margin-bottom: 40px;
    margin-top: 40px;
  }
  
  .gradient-common {
     height: 100%;
  }
  
  .gradient-common::before{
    height: 100%;
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index:1;
    opacity:0.5;
  }
  
  .gradient1::before {
    background-image: linear-gradient(to bottom, #050506, #0f0f10 67%, rgba(26, 26, 26, 0));
  }
  .gradient2::before {
    background-image: linear-gradient(to bottom, #141227, #1b2438 67%, rgba(26, 26, 26, 0));
  }
  .gradient3::before {
    background-image: linear-gradient(to bottom, #091730, #172845 67%, rgba(26, 26, 26, 0));
  }
  .gradient4::before {
    background-image: linear-gradient(to bottom, #050506, #0f0f10 67%, rgba(26, 26, 26, 0));
  }
  
  .mainbanner {
    padding-top: 36%;
  }
  
  #headercarousel {
    position:absolute;
    z-index:-1; 
    height:100%; 
    width:100%;
    height: 700px;
  }
  
  #headercarousel .carousel-inner {
    height:100%;
  }
  
  .mainbanner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
  }
  
  .topform{
    position: relative;
    background: transparent;
    z-index: 2;
    top: 100px;
    left: 0;
    right: 0;
  }

.header-image {
    width: 100%;
    height: 312px;
    background-image: url('./assets/img/header-image.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .card {
    border-radius: 4px;
    padding: 0px 0px 0px 0px;
    background-color: #ffffff;
  }

.we-call {
  }
  .We-call-you {
    font-family: Lato;
    font-size: 12px;
    line-height: 1.25;
    color: #1a1a1a;
  }
  .we-setup {
  }

  .you-book {
  }

  .we-complete {
  }

  .you-pay {
  }

  .how-it-works {
    margin: 24px;
    font-family: Lato;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 2px;
    text-align: center;
    color: #1a1a1a;
  }

  .Group-223 {
    width: 35.2px;
    height: 35.2px;
    margin: 0 17.8px 21.2px 17px;
    object-fit: contain;
  }

  .Group-224 {
    width: 43.3px;
    height: 28.9px;
    margin: 0 38.7px 26px 38px;
    object-fit: contain;
  }

  .sub-title {
    font-family: Lato;
    font-size: 14px;
    line-height: 1.21;
    color: #959595;
  }

  .title {
    width: 76px;
    height: 22px;
    margin: 67px 6px 1px 37.3px;
    font-family: Lato;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: #1a1a1a;
  }

  
  .header {
    background-color: white;
  }

  .banner {
    background-image: url("./assets/img/banner-image.png");
  }

  .book-charging {
    border-radius: 37px;
    border: solid 1px #1a1a1a;
    background-color: white;
    font-family: Lato;
    font-size: 10px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #1a1a1a;
  }

  .book-charging:hover {
    background-color: #dc3545;
    color: white;
  }

  .menu {
    margin: 10px 0px 0px 10px;
  }

  .dropdown-item a {
    font-family: Lato;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
  }
  
  .dropdown-item {
    font-family: Lato;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
  }
  
  .dropdown-item:hover 
  {
     text-decoration:none; 
     cursor:pointer;  
     background-color:#ecbabf;
     opacity: 0.7;
  }

  .nav {
    position: sticky;
    top:0;
    background-color: white;
    z-index: 1;
  }

  .btn-pre-book {
    margin-top: 240px;
  }
  
  .btn-read {
    font-family: Lato;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    border-radius: 4px;
    background-color: #fde8ea;
    color:#f4263d;
  }

  .background-red {
    background-color: #f4263d;
  }

  .user-review-content {
    font-family: Lato;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    color: #959595;
    margin-top: -70px;
  }
  
  .user-review-quote {
    font-family: Inter;
    font-size: 120px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    color: #959595;
    text-align:center;
  }

  .user-name {
    font-family: Inter;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }
  
  .user-location {
    font-family: Inter;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }

  .crousel-img {
    height: 170px;
    width: 232px;
  }

  .btn-pre-book {
    background-color: #f4263d;
    margin-top: 240px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
  }

  .lite-price {
    font-size: 24px;
  }

  .footer {
    width: 100%;
    margin: 10px 0 0;
    background-color: #1a1a1a;
  }
  
  .footer-title {
    
    font-family: Lato;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }
  
  .footer-subtitle {
    font-family: Lato;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: left;
    color: #959595;
  }

  .copyright {
    font-family: Lato;
    font-size: 12px;s
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #959595;
  }
  
  .footer-detail {
    list-style: none;
    padding: 0px 0px 0 100px;
    
  }
  .footer-detail li {
    margin-bottom: 5px;
  }
  
  .footer-text {
    padding: 0px 125px 0 125px;
  }
  
  .social-icon {
    text-align: left;
  }

  .social-icon li {
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #959595;
    list-style: none;
    margin-bottom: 20px;
  }

  .social-icon label{
    margin-left:10px;
  }
  
  .social-icon a {
    color: inherit;
    text-decoration: none;
  }
  
  .social-icon a:hover 
  {
     text-decoration:none; 
     cursor:pointer;  
  }

  .privacy {
    font-family: Lato;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #959595;
  }
  .privacy a {
    color: #f4263d;
    text-decoration: none;
  }
  
  .privacy a:hover 
  {
     text-decoration:none; 
     cursor:pointer;  
  }

  .about-us{
    font-family: Lato;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    text-decoration: none;
  }

  .about-us:hover 
  {
    color:white;
    text-decoration:none; 
    cursor:pointer;  
  }


/*side nav code*/
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 99; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #1a1a1a; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav li a {
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  font-size: 20px;
  font-family: Lato;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav li {
  list-style:none;
}

.dropdown {
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  font-size: 20px;
  font-family: Lato;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;

}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



/* whatsapp popup css */
.floating-wpp {
  position: fixed;
  bottom: 15px;
  left: 15px;
  font-size: 14px;
  transition: bottom 0.2s;
}
.floating-wpp .floating-wpp-button {
  position: relative;
  border-radius: 50%;
  box-shadow: 1px 1px 4px rgba(60, 60, 60, 0.4);
  transition: box-shadow 0.2s;
  cursor: pointer;
  overflow: hidden;
}
.floating-wpp .floating-wpp-button img,
.floating-wpp .floating-wpp-button svg {
  position: absolute;
  width: 100%;
  height: auto;
  object-fit: cover;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.floating-wpp:hover {
  bottom: 17px;
}
.floating-wpp:hover .floating-wpp-button {
  box-shadow: 1px 2px 8px rgba(60, 60, 60, 0.4);
}
.floating-wpp .floating-wpp-popup {
  border-radius: 6px;
  background-color: #e5ddd5;
  position: absolute;
  overflow: hidden;
  padding: 0;
  box-shadow: 1px 2px 8px rgba(60, 60, 60, 0.25);
  width: 0;
  height: 0;
  bottom: 0;
  opacity: 0;
  transition: bottom 0.1s ease-out, opacity 0.2s ease-out;
  transform-origin: bottom;
}
.floating-wpp .floating-wpp-popup.active {
  padding: 0 12px 12px;
  width: 260px;
  height: auto;
  bottom: 82px;
  opacity: 1;
}
.floating-wpp .floating-wpp-popup .floating-wpp-message {
  background-color: #fff;
  padding: 8px;
  border-radius: 0 5px 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  opacity: 0;
  transition: opacity 0.2s;
}
.floating-wpp .floating-wpp-popup.active .floating-wpp-message {
  opacity: 1;
  transition-delay: 0.2s;
}
.floating-wpp .floating-wpp-popup .floating-wpp-head {
  text-align: right;
  color: #fff;
  margin: 0 -15px 10px;
  padding: 6px 12px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.floating-wpp .floating-wpp-input-message {
  background-color: #fff;
  margin: 10px -15px -15px;
  padding: 0 15px;
  display: flex;
  align-items: center;
}
.floating-wpp .floating-wpp-input-message textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: none;
  padding: 8px;
  margin: 10px 0;
  width: 100%;
  max-width: 100%;
  font-family: inherit;
  font-size: inherit;
  resize: none;
}
.floating-wpp .floating-wpp-btn-send {
  margin-left: 12px;
  font-size: 0;
  cursor: pointer;
}

/* /whatsapp popup css */