<div class="container">
    <div class="row nav">
        <image class="menu" src="./assets/img/menu.svg"></image>
        <div class="col my-2">
            <p class="Kazam">Kazam <span class="tagline">Everything electric</span></p>
        </div>
        <div>
            <ul>
                <li>Product</li>
                <li>Installation</li>
                <li>News&Reviews</li>
                <li>EVs</li>
                <li>Store</li>
            </ul>
        </div>
        <div class="col my-2 text-right">
            <button class="btn book-charging">Book Charging station</button>
        </div>
    </div>
</div>